
:root{
    --fll-red: #ED1C24;
    --fll-blue: #0066B3;
    --fll-gray: #9A989A;
    --fll-black: #231F20;
    --ftc-orange: #F57E25;
    --ftc-black: #231F20;
    --first-secondary: #e8e8e8;
    --first-blue: #0066B3;
}

@font-face {
    font-family: 'Roboto';
    src: url('/FIRSTNLWebsite/font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/FIRSTNLWebsite/font/roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/FIRSTNLWebsite/font/roboto/Roboto-Italic.ttf") format('truetype');
    font-style: italic;
}


* {
    font-family: 'Roboto', sans-serif;
}

.color-fll-red {
    color: var(--fll-red);
}

.bg-fll-red {
    background-color: var(--fll-red);
}

.color-fll-blue {
    color: var(--fll-blue);
}

.bg-fll-blue {
    color: var(--fll-blue);
}

.color-fll-gray {
    color: var(--fll-gray);
}

.bg-fll-gray {
    background-color: var(--fll-gray);
}

.color-fll-black {
    color: var(--fll-black);
}

.bg-fll-black {
    background-color: var(--fll-black);
}

.color-ftc-orange {
    color: var(--ftc-orange);
}

.bg-ftc-orange {
    background-color: var(--ftc-orange);
}

.color-first-secondary {
    color: var(--first-secondary);
}

.bg-first-secondary {
    background-color: var(--first-secondary);
}

.color-first-blue {
    color: var(--first-blue);
}

.bg-first-blue {
    background-color: var(--first-blue);
}

.bg-ftc-black{
    background-color: var(--ftc-black);
}

.cw::after{
    content: '\00a9';
    font-size: 0.7rem;
    vertical-align: top;
}

.container-expanded{
    width: 100vw;
}

.yt-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.yt-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.border-fll-red{
    border-color: var(--fll-red) !important;
}

.h-line{
    width: 2px;
    height: 100%;
}

.bg-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-overlay{
    background-color: rgba(0,0,0,0.45);
}

.bg-overlay-gradient{
    background: rgba(0,0,0,0.45);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.bg-overlay-gradient-reverse{
    background: rgba(0,0,0,0.45);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.fw-black{
    font-weight: bolder;
}

.w-80{
    width: 80%;
}