<div class=" h-100 container-fluid px-0 position-relative">
    <img class="w-100 h-100 position-absolute" style="object-fit: cover;" <%-IMAGE(image)%>/>
    <div class="bg-overlay position-absolute top-0 left-0 w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="text-white text-center">
            <h1 class="fw-bold"><%=title%></h1>
            <h2 class="fw-bold"><%=subtitle%></h2>
        </div>
    </div>
</div>