<div class="container-fluid px-0 bg-first-copper">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-8">
                <h1 class="fw-bold color-first-black">The 2025 Newfoundland and Labrador FIRST Robotics Championships</h1>
                <p class=" color-first-black">Teams from around the province compete in St. John's to earn the title of provincial champions for Newfoundland and Labrador.</p>
                <a class="btn bg-first-black fw-bold text-white">LEARN MORE</a>
            </div>
            <div class="col-md-4 d-none d-md-flex position-relative justify-content-center align-items-center">
                <img <%-IMAGE("first_age/first_age_logo_black.png")%> style="width: 70%;"/>
            </div>
        </div>
    </div>
</div>