<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First Robotics Newfoundland & Labrador</title>
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/2025_season.css"/>
        <link rel="stylesheet" href="/css/bootstrap-icons.min.css">

        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container-fluid p-0">
            <%- include('navbar') %>
        </div>
        <div>
            <%- include(page) %>
        </div>
        <div>
            <%- include("footer") %>
        </div>
    </body>
</html>