<div class="container-fluid bg-fll-black py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <ul>
                    <li><a class="text-white" href="https://www.firstinspires.org/about">About FIRST Global</a></li>
                    <li><a class="text-white" href="https://my.firstinspires.org/Dashboard/">FIRST Dashboard</a></li>
                    <li><a class="text-white" href="https://www.firstinspires.org/about/code-of-conduct">Code of Conduct</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <ul>
                    <li><a class="text-white" href="/fll">FIRST LEGO League Challenge</a></li>
                    <li><a class="text-white" href="/ftc">FIRST Tech Challenge</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                
            </div>
            <div class="col-12 col-md-3">
                <img style="width: 80%;" <%-IMAGE("logo/FIRST_HorzRGB_reverse.png")%>>
                <p class=" mt-1 text-white fst-italic">For Inspiration And Recognition of Science and Technology</p>
            </div>
        </div>
    </div>
</div>