<div class="container mt-5">
    <link href="/static/css/index.css" rel="stylesheet"/>
    <div class="d-flex flex-column">
        <p class="text mb-5">
            FIRST Robotics Newfoundland & Labrador is a not-for-profit with a mission to inspire students in Newfoundland and Labrador 
            to pursue further studies and careers in science, technology, engineering, and entrepreneurship. 
            This will be achieved through the delivery of exciting robotic mentor-based programs. 
            They help students build STEM and problem solving skills, while also fostering well-round life capabilities 
            such as self-confidence, communication, and leadership.
        </p>

        <div class="yt-container">
            <iframe class="align-self-center"  src="https://www.youtube.com/embed/i8wUIzmJGxM" title="FIRST is..." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>