<%-include("fll_nav.ejs")%>

<div class="position-relative" style="height: 300px">
    <%-include("../components/image_banner", {image: "fllchallenge/2025/2025_mat_overview.png", title: "FIRST LEGO League Challenge", subtitle: "Coding Resources"})%>
</div>

<div class="container my-5">
    <h1 class="fw-bold">SPIKE Prime</h1>
    <p>The SPIKE Prime robots can be programmed using the LEGO Education SPIKE application. 
        This Application can be downloaded on Windows or iPads. You can also use the website 
        version of the SPIKE app on Chromebooks. The website version of the app does not require 
        any downloads.</p>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 my-3">
            <h1 class="fw-bold">Getting Started</h1>
            <p>The LEGO SPIKE application contains many interactive units to learn the various capabilities 
                of the SPIKE robots and how to utilize them. One of these units is getting competition 
                ready for FIRST Lego League. This unit will guide you and your team through the fundamentals of 
                a FIRST Lego League robot such as movement, using color sensors, and designing detachable tools.</p>
            <p>You can access this unit by opening the unit page on the SPIKE app home page, or click the link below.</p>
            <a target="_blank" href="https://spike.legoeducation.com/prime/unit-plans/blt4b49bd6ee0bde119" class="btn bg-first-secondary"><img width="32" height="32" class="bi" <%-IMAGE("fllchallenge/coding_resources/spike_prime_logo.png")%>> Competition Ready Unit <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="col-md-6  my-3 text-center">
            <img style="width: 80%;" <%-IMAGE("fllchallenge/coding_resources/spike_unit.png")%> />
        </div>
    </div>
</div>