<%-include("fll_nav.ejs")%>

<div class="position-relative" style="height: 300px">
    <%-include("../components/image_banner", {image: "fllchallenge/2025/2025_mat_overview.png", title: "FIRST LEGO League Challenge", subtitle: "Ages 9 to 14"})%>
</div>

<div class="container my-5">
    <h1 class="fw-bold">Innovation Project</h1>
    <p>Every year FIRST LEGO League teams are tasked to create and present an innovation project. For your innovation project, you will:</p>
    <ul>
        <li><b>Identify</b> a real world problem relating to the competition theme.</li>
        <li><b>Design</b> a new solution or improve an existing one with technology in mind.</li>
        <li><b>Create</b> a model or drawing of your design.</li>
        <li><b>Iterate</b> on your solution by collecting feedback.</li>
        <li><b>Present</b> your innovation project alongside your robot design at the FIRST LEGO League competition.</li>
    </ul>
    <p>We recommend you look at the Team Meeting Guide and Engineering Notebooks for help creating your Innovation Project. 
        There are many sessions in those books to help you and your students identify problems, conduct research, create your model, and preparing your presentation.</p>
</div>

<div class="container my-5">
    <h1 class="fw-bold">Getting Started</h1>
    <p>Finding a problem to solve can sometimes be a difficult starting point. You can choose to design a solution for one of the 
        problems listed below or do some research to identify a different problem. Conduct research to explore existing solutions 
        to the problem and to determine what challenges are still faced. You may want to create something new or improve on an 
        existing solution; that's what innovation is all about.</p>
    
    <p class="fst-italic">List of project ideas coming soon...</p>
</div>