<%-include("../fll_nav.ejs")%>

<div class="position-relative" style="height: 300px">
    <%-include("../../components/image_banner", {image: "fllchallenge/2023/2023_mat_overview.png", title: "FIRST LEGO League Challenge", subtitle: "2023-2024 MASERPIECE"})%>
</div>