<div class="row p-3 my-3 bg-first-secondary rounded">
    <div class="col-2">
        <img class="w-100 shadow" style="border: 3px solid white;" <%-IMAGE(image)%>/>
    </div>
    <div class="col-10">
        <p><%=text%></p>
        <p class="fw-bold"><%=question%></p>
    </div>
</div>