<div class="row p-3 my-3 bg-first-secondary rounded">
    <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 mb-2">
        <img class="w-100 shadow" style="border: 3px solid white;" <%-IMAGE(image)%>/>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-9 col-xl-10">
        <p><%=text%></p>
        <p class="fw-bold"><%=question%></p>
    </div>
</div>