<div class="container mt-5">
    <div>
        <h1>About Us</h1>
        <p>The following is the FIRST Robotics Newfoundland and Labrador mission, vision and values.</p>
    </div>
    <div class="mt-5">
        <h2>Our Mission</h2>
        <p>
            To inspire students of Newfoundland and Labrador to pursue further studies and careers in the field of science, technology, engineering, and entrepreneurship. 
            This is achieved by providing exciting mentor-based programs that build science, technology, engineering, and problem solving skills.
            The programs we provide inspire innovation and foster well-round life capabilities such as self-confidence, communication, and leadership.
        </p>
    </div>
    <div class="mt-5">
        <h2>Our Vision</h2>
        <p>
            To transform Newfoundland and Labrador by creating a culture where science, technology and innovation are celebrated and where students dream of becoming science, technology, and innovation leaders and entrepreneurs.
        </p>
    </div>
    <div class="mt-5">
        <h2>Our Values</h2>
        <p>
            The <span class="cw">FIRST</span> core values emphasize friendly sportsmanship, respect for the contributions of others, teamwork, learning, and community involvement.
            These are part of our commitment to fostering, cultivating, and preserving a culture of equity, diversity, and inclusion. 
            The FIRST Community expresses the FIRST philosophies of <span class="fw-bold">Gracious Professionalism</span> and <span class="fw-bold">Coopertition</span> through our Core Values:
        </p>
        <div class="text-center mt-3">
            <img class="img-fluid" src="/static/img/fllchallenge/Core_Values.png" />
        </div>
    </div>
</div>