
<div class="col-xl-2 col-md-3 col-sm-4 col-6 my-3">
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" <%-IMAGE(image)%> />
        <div class="card-body text-center">
            <p class="card-title fw-bold"><%=name%></p>
            <p class="card-text"><em><%=title%></em></p>
        </div>
    </div>
</div>