<%- include("../components/tri_image_banner", {
    image1: "our_history/464110406_8515924831786982_4070132952551604846_n.jpg", 
    image2: "our_history/463833551_8515924598453672_5199396607618743647_n.jpg", 
    image3: "our_history/images.jpg",
    title1: "Our History",
    title2: ""
})%>


<div class="container mt-5">
    <h1 class="fw-bold">Our History</h1>
</div>